body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
  }
  page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
  }
  page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
  }
  page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
  }
  page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;  
  }
  @media print {
    body, page {
      background: white;
      margin: 0;
      box-shadow: 0;
    }
  }
  .p{
    text-align: center;
    font-size: 13px;
  }
  img{
    width: 200px;
    margin: 20px;
  }
  .p1-pm{
    position: relative;
    font-weight: 700;
    font-size: 29px;
    float: right;
    margin: 27px 56px 0px 0px;
  }
  .p2-pm{
    position: relative;
    font-size: 16px;
    float: right;
    padding: 23px 72px 0px 0px;
    margin: unset;
  }
  .p3-pm{
    padding: 0px 158px 0px 93px;
    margin: unset;
  }
  .p4-pm{
    padding: 0px 211px 1px 153px;
  }
  .p5-pm{
    font-weight: 1000;
    font-size: 16px;
    font-size: 16px;
    padding: 190px 0px 0px 0px;
    text-align: center;
  }
  .item-all-pm, .item{
    display: flex;
    margin: -10px 0px 0px 32px;
    width: 98%;
  }
  .item-all-pm-under{
    display: flex;
    margin: -14px 0px 0px 32px;
    width: 98%;
  }
  .item-all-pm-3{
    display: flex;
    margin: -27px 0px 0px 32px;
    width: 821px;
  }

  .check-all-pm{
    display: flex;
    margin: 1px 0px 0px 10px;
    width: 98%;
  }
  .item-pm{
    flex: 1;
    margin: 15px 0px 0px 0px;
  }
  .item-pm-2{
    flex: 1;
    margin: 15px 14px 0px 0px;
  }
  .item-pm-3{
    flex: 1;
    margin: 15px 14px 0px 0px;
  }
  .form-control{
    border-radius: 0px !important;
    width: 80% !important;
  }
  .form-control-2{
    border-radius: 0px !important;
    width: 90% !important;
  }
  .form-control-3{
    border-radius: 0px !important;
    width: 90% !important;
  }
  hr{
    border: 3px solid black;
  }
  .contain-text-pm{
    width: 98%;
    margin: 18px 0px 0px 32px;
  }
  .p6-pm{
    font-size: 16px;
    font-weight: 500;
  }
  label{
    display:inline!important;
  }
  .p7-pm{
    margin: 0px 0px -22px 32px;
    font-weight: 700;
  }
  .form-control-btn{
    width: 200px !important;
  }
  .item-11pm{
    display: flex;
    margin: -34px 0px 0px 10px;
  }
  .item-div-11pm{
    flex: 1;
    margin: 20px 0px 0px 19px;
  }